<div style="width: 1440px; height: 1024px; position: relative; background: white; overflow: hidden">
  <div style="width: 900px; height: 1024px; left: 900px; top: 1024px; position: absolute; transform: rotate(180deg); transform-origin: top left; background: #96E0FF"></div>
  <img style="width: 900px; height: 900px; left: 0px; top: 61px; position: absolute" src="https://placehold.co/900x900" />
  <div style="width: 362px; height: 10px; left: 997px; top: 629px; position: absolute; background: black"></div>
  <div style="width: 362px; height: 10px; left: 997px; top: 737px; position: absolute; background: black"></div>
  <div style="left: 997px; top: 687px; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">PASSWORD</div>
  <div style="left: 997px; top: 579px; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">ID</div>
  <div style="left: 997px; top: 741px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">회원가입</div>
  <div style="left: 1211px; top: 773px; position: absolute; color: black; font-size: 50px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">Log In</div>
  <img style="width: 512px; height: 512px; left: 914px; top: 126px; position: absolute" src="https://placehold.co/512x512" />
</div>