<div style="width: 374px; height: 329px; position: relative">
  <div style="width: 374px; height: 60px; left: 0px; top: 65px; position: absolute; background: #FFFAFA; border-radius: 10px"></div>
  <img style="width: 44px; height: 44px; left: 326px; top: 73px; position: absolute" src="https://placehold.co/44x44" />
  <div style="left: 17px; top: 70px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">주택</div>
  <div style="width: 374px; height: 50px; left: 0px; top: 127px; position: absolute; background: #FFFAFA; border-radius: 10px"></div>
  <div style="left: 16px; top: 127px; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">LH 행복주택</div>
  <div style="width: 374px; height: 50px; left: 0px; top: 178px; position: absolute; background: #FFFAFA; border-radius: 10px"></div>
  <div style="left: 16px; top: 178px; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">LH 기숙사형 주거주택</div>
  <div style="width: 374px; height: 50px; left: 0px; top: 229px; position: absolute; background: #FFFAFA; border-radius: 10px"></div>
  <div style="left: 16px; top: 233px; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">LH 임대주택</div>
  <div style="width: 183px; height: 44px; left: 5px; top: 282px; position: absolute; background: #1E1EF0; border-radius: 20px"></div>
  <div style="left: 12px; top: 279px; position: absolute; color: white; font-size: 30px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">+ more info</div>
  <div style="left: 6px; top: 0px; position: absolute; color: #1E1EF0; font-size: 55px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">Search</div>
</div>