<div style="width: 125px; height: 204px; position: relative">
  <div style="width: 125px; height: 51px; left: 0px; top: 0px; position: absolute; background: white"></div>
  <div style="left: 23px; top: 1px; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">정렬</div>
  <div style="width: 125px; height: 51px; left: 0px; top: 51px; position: absolute; background: white"></div>
  <div style="left: 12px; top: 52px; position: absolute; color: rgba(0, 0, 0, 0.50); font-size: 25px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">인기 순위</div>
  <div style="width: 125px; height: 51px; left: 0px; top: 102px; position: absolute; background: white"></div>
  <div style="left: 12px; top: 103px; position: absolute; color: rgba(0, 0, 0, 0.50); font-size: 25px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">맞춤 추천</div>
  <div style="width: 125px; height: 51px; left: 0px; top: 153px; position: absolute; background: white"></div>
  <div style="left: 12px; top: 154px; position: absolute; color: rgba(0, 0, 0, 0.50); font-size: 25px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">신규 복지</div>
</div>